.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hero-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
}

.hero-diagonal-gradient {
  position: absolute;
  top: 0;
  background-image: linear-gradient(54deg,rgba(18,18,18,.8) 15%,transparent 60%);
  width: 100%;
  height: 810px;
}

.hero-bottom-gradient {
  background-image: linear-gradient(180deg,rgba(18,18,18,0) 40%,#121212 100%);
  width: 100%;
  height: 810px;
}

.taken-true {
  opacity: .2;
}
